# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
/data/nhd/*

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
proof-of-concept/.DS_Store
proof-of-concept/data/.DS_Store
proof-of-concept/data/nhd/.DS_Store
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000001.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000001.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000001.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000001.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000001.TablesByName.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000002.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000002.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000003.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000003.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000003.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000004.CatItemsByPhysicalName.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000004.CatItemsByType.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000004.FDO_UUID.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000004.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000004.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000004.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000004.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000004.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000005.CatItemTypesByName.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000005.CatItemTypesByParentTypeID.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000005.CatItemTypesByUUID.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000005.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000005.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000005.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000006.CatRelsByDestinationID.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000006.CatRelsByOriginID.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000006.CatRelsByType.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000006.FDO_UUID.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000006.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000006.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000006.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000006.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000007.CatRelTypesByBackwardLabel.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000007.CatRelTypesByForwardLabel.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000007.CatRelTypesByName.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000007.CatRelTypesByUUID.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000007.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000007.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000007.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000009.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000009.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000009.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000009.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000009.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000a.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000a.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000a.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000a.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000b.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000b.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000b.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000b.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000d.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000d.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000d.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000d.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000e.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000e.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000e.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000e.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000e.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000f.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000f.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000f.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000000f.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000010.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000010.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000010.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000010.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000011.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000011.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000011.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000011.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000012.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000012.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000012.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000012.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000012.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000014.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000014.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000014.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000014.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000014.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000015.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000015.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000015.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000015.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000015.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000016.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000016.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000016.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000029.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000029.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000029.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000029.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002b.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002b.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002b.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002d.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002d.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002d.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002e.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002e.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002e.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002e.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002f.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002f.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002f.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002f.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000002f.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000030.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000030.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000030.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000030.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000030.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000031.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000031.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000031.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000031.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000031.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000032.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000032.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000032.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000033.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000033.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000033.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000033.N_1_Desc_0.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000033.N_1_Desc_1.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000034.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000034.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000034.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000034.N_1_JTopo_0.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000035.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000035.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000035.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000035.N_1_JTopo2_0.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000036.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000036.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000036.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000036.N_1_JDesc_0.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000037.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000037.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000037.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000037.N_1_JStatus_0.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000038.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000038.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000038.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000038.N_1_ETopo_0.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000039.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000039.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000039.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a00000039.N_1_EDesc_0.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003a.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003a.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003a.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003a.N_1_EStatus_0.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003b.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003b.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003b.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003b.N_1_FloDir_0.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003c.freelist
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003c.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003c.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003c.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003c.spx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003e.FromCom.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003e.gdbindexes
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003e.gdbtable
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003e.gdbtablx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/a0000003e.ToCom.atx
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/gdb
proof-of-concept/data/nhd/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/timestamps
proof-of-concept/data/staged/block_groups.gpkg
proof-of-concept/data/staged/blocks.gpkg
proof-of-concept/data/staged/catchments.gpkg
proof-of-concept/data/staged/counties.gpkg
proof-of-concept/data/staged/tracts.gpkg
proof-of-concept/proof-of-concept.Rmd
proof-of-concept/proof-of-concept.Rproj
